@font-face {
    font-family: "Bebas Neue";
    src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
        url("../fonts/BebasNeueRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header {
    background-color: #635854;
    padding: 12px;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;/* сделали элемент гибким */
    justify-content: space-between;/* раставили элементы по краям */
    align-items: center;/* выровнили элементы по центру - по вертикали */
}

.navbar-menu {
    margin: 0;
    /* отключаем внешние отступы  */
    padding: 0;
    /* отключаем внутрение отступы  */
    list-style: none;
    /* отключаем точки */
    display: flex;
    text-align: center;
}

.navbar-item {
    margin-left: 40px;/* отступы между ссылками*/
    margin-right: 40px;
}

.navbar-link {
    text-decoration: none;/* убираем нижнее подчиркивание у ссылок */
    color: #fff;
    font-weight: 400;
}

.navbar-contacts {
    text-align: right;
}

.navbar-text {
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}


.navbar-phone {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
}

/* Main */

.main {
    max-width: 1280px;/* выравнивание по логотипу */
    margin: auto;
    padding-top: 54px;/* внутренний отступ сверху */
    display: flex;
}

.main-info {
    flex-grow: 1; /* блок занимает место на весь контейнер */
    text-align: center; /* выравниваем содержимое блока по центру */
    display: flex;
    flex-direction: column; /* главная ось по вертикали */
    align-items: center;
    justify-content: space-between; /* место между элементами */
}

.home-image path {
    opacity: 0;
    cursor: pointer;
}

.home-image path:hover {
    opacity: 1;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-btn {
    background-color: #fff;
    border: none;/* убираем обводку у кнопки */
    cursor: pointer;

}

.main-title {
    margin: 0;/* убираем базовые отступы */
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 37px;
    line-height: 37px;

    color: #635854;
}

.counter {
    color: #635854;
    font-family: 'Bebas Neue', cursive;
    font-size: 124px;
    margin-top: 10px;
}

.button-primary {
    background: #3596F5;
    border-radius: 6px;
    color: #fff;
    padding: 16px 36px;
    cursor: pointer;
}
